<%- include('../includes/head.ejs') %>

<body>
    <header>
        <%- include('../includes/nav.ejs') %>
    </header>
    <main>
        
         <h1 style="text-align: center; opacity:0.5 ; margin-top:10rem; margin-bottom:13rem "> products which are in cart will be showed here  </h1>
    </main>
    <%- include('../includes/end.ejs') %>