<%- include('../includes/head.ejs') %>

<body>
    <header>
        <%- include('../includes/nav.ejs') %>
    </header>
    <main>
        <h1 style="text-align: center; opacity:0.5 ; margin-top:10rem; margin-bottom:13rem "> this is checkoutout section broo </h1>
    </main>
    <%- include('../includes/end.ejs') %> 