<%- include ('includes/head.ejs') %>
<body>
    <header>
        <%- include ('includes/nav.ejs') %>
    </header>
    <main>
        <h1 style="text-align: center; opacity:0.5 ; margin-bottom:-5rem; margin-top: 10rem;"> page not found bro </h1>
        <h1 style="font-size:7rem; text-align:center"> 404 </h1>
    </main>
</body>