*{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    line-height: 1.5;
}
div{
    margin: 15px;
    border-radius: 24px;
    padding: 9px;
}
#bio{
    border-radius: 25px;
    /* border:2px solid blue; */
}
#bio img{
    height: 250px;
    width:auto;
    float: left;
    margin: 10px;
    border-radius: 25px ;
    box-shadow: -15px 1px 250px blue;
}
#bio p {
    font-size: 18px;
    line-height: 1.5;
    text-indent: 30px;
    text-transform: capitalize;
    box-shadow: -15px 1px 250px rgb(0, 204, 255);
}
.edu {
    clear: both;
}
