#wrapper{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 80%;
    margin: 0 auto;
}
.container{
    border: 1px solid ;
    width: 100%;
    height: 700px;
    display: grid;
    grid-template-columns:70% 30%;
    grid-template-rows:25% 30% 45%;
    grid-template-areas: 
    " hd s1"
    "hd s2"
    " hd s3"
    ;
}
.box{
    border: 1px solid;
    padding: 1rem;
}
.box1{
    grid-area: hd;
}
.box2{
    grid-area: s1;
    background-color: azure;
}
.box3{
    grid-area: s2;
}
.box4{
    grid-area: s3;
}