.App {
  text-align: center;
  margin-top: 2rem;
}


h1{
  text-align: center;
}

.person-container{
  margin-top: 10%;
  display: flex;
  max-width: 800px;
  gap: 30px;
  margin: 0 auto ;
  /* text-align: center; */
  border: 1px solid gray;
  /* align-items: center; */
  padding: 10px;

}
.person{
  background-color: rgba(0, 0, 0, 0.259);
  border-radius: 25px;
  padding: 10px;
}

