<nav style="background-color: #f8f9fa; padding: 10px; border-bottom: 1px solid #dee2e6;">
  <ul style="list-style: none; display: flex; gap: 20px; margin: 0; padding: 0; justify-content:center">
     <li style="text-transform:capitalize ; font-size:large ; font-weight:500 ">
      <a href="/" style="text-decoration:none ; color:coral"> shop </a>
    </li>
    <li style="text-transform:capitalize ; font-size:large ; font-weight:500 " >
      <a href="/admin/products" style="text-decoration:none ; color:coral"> Products </a>
    </li>
    <li style="text-transform:capitalize ; font-size:large ; font-weight:500 ">
      <a href="/admin/product-list" style="text-decoration:none ; color:coral"> products </a>
    </li>
     <li style="text-transform:capitalize ; font-size:large ; font-weight:500 ">
      <a href="/cart" style="text-decoration:none ; color:coral"> cart </a>
    </li>
     <li style="text-transform:capitalize ; font-size:large ; font-weight:500 ">
      <a href="/checkout" style="text-decoration:none ; color:coral"> checkout </a>
    </li>
  </ul>
</nav>
